.channelRow{
    margin: 12px 0px;
    display: flex;
    height: 23vh;
}
.channelRow__text{
    display: flex;
    align-items: center;
}
.channelRow__textMain{
    flex: 0.97;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.channelRow__textMain > p{
    color: #606060;
    font-size: 0.9vw !important;
    line-height: 1.2vw;
    padding-right: 15px;
}
.channelRow__avatar{
    width: 10vw !important;
    height: 10vw !important;
    margin: 0px 9vw 0px 8vw;
    align-self: center;
}
.channelRow__textMain > h4{
    display: flex;
    align-items: center;
    font-size: 1.4vw;
    font-weight: 500;
    margin-bottom: 10px;
}
.channelRow__subs{
    margin-bottom: 8px;
}
.channelRow__verified{
    margin-left: 5px;
    width: 1vw !important;
    height: 1vw !important;
}
.channelRow__Subscribe{
    display: flex;
    align-items: center;
    justify-self: center;
}
.channelRow__Subscribe > p{
    background-color: #dd0000;
    color: #fff;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 2px;
    font-size: 1vw;
    cursor: pointer;
}
.channelRow__Subscribe.subscribed > p{
    background-color: #e0e0e0;
    color: black;}
.channelRow__notifications{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw !important;
}