.relatedVideoSide{
    width: 32.4%;
    padding-top: 21px;
    box-sizing: border-box;
}
.relatedVideoSide__category{
    width: 90%;
}
.relatedVideoSide__category > p {
    height: 7px;
}
.relatedVideoSide__videoRow{
    display: flex;
    align-items: flex-start;
    height: 15vh;
    overflow-y: hidden;
    margin-bottom: 7px;
}
.relatedVideoSide__videoRow__video{
    height: 100%;
}
.relatedVideoSide__videoRow__video > img {
    object-fit: cover;
    width: 12vw;
    height: 100%;
}
.relatedVideoSide__videoRow__text{
    margin-left: 7px;
}
.relatedVideoSide__videoRow__text > h4{
    color: #000;
    font-size: 1vw;
    font-weight: 400;
    margin-bottom: 5px;
}
.relatedVideoSide__videoRow__text > p{
    font-size: 0.9vw;
    color: #606060;
    line-height: 18px;
}
.relatedVideoSide__link{
    text-decoration: none;
}