.sidebarRow{
    display: flex;
    align-items: center;
    padding: 1.35vh 1.9vw;
    margin-right: 15px;
}
.sidebarRow.hidden{
    display: none;
}
.sidebarRow:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}
.sidebarRow__icon{
    color: #000;
    font-size: 1.8vw !important;
}
.sidebarRow__title{
    flex: 1;
    margin-left: 1.8vw;
    font-size: 1.1vw;
    font-weight: 500;
}
.sidebarRow.selected{
    background-color: #d0d0d0;
}
.sidebarRow.selected > .sidebarRow__icon{
    color: #000;
}
.sidebarRow.selected > .sidebarRow__title{
    font-weight: bold;
}